div.container_wrap {
    width: 100%;
    height:auto;
    position: relative;
    left: 0px;
    top: 210px;
}

section#visual_wrap {
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

ul#visual_inner {
    width: 100%;
    height: 500px;
}

ul#visual_inner>li {
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
}

ul#visual_inner>li:nth-child(1) {
    background: url(/images/jpg/andrew-ridley-OwYxAEjuTrQ-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

ul#visual_inner>li:nth-child(2) {
    background: url(/images/jpg/nong-v-9pw4TKvT3po-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

ul#visual_inner>li:nth-child(3) {
    background: url(/images/jpg/mika-ruusunen-ju_8CFxk6_o-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

ul#visual_inner>li:nth-child(4) {
    background: url(/images/jpg/nong-v-9pw4TKvT3po-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

ul#visual_inner>li:nth-child(5) {
    background: url(/images/jpg/andrew-ridley-OwYxAEjuTrQ-unsplash.jpg) no-repeat center center;
    background-size: cover;
}



article.banner>p.visual_title {
    font: bold 46px "Noto Sans KR";
    color: white;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    left: 12vw;
    bottom: 0px;
    opacity: 0;
}

article.banner>p.visual_text {
    font: bold 28px "Noto Sans KR";
    color: white;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    left: 13vw;
    bottom: 0px;
    opacity: 0;
}



ul#banner_dot {
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    bottom: 20px;
}


ul#banner_dot>li {
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 20px;
    border-radius: 8px;
    background: gray;
}

ul#banner_dot>li.selected {
    background: #ff9900;
}

span#prev_btn {
    position: absolute;
    right: 10%;
    bottom: 20px;
    -webkit-transform: scale(0.7)
}

span#next_btn {
    position: absolute;
    right: 3%;
    bottom: 20px;
    -webkit-transform: scale(0.7)
}






section.section_wrap {
    width: 1400px;
    height: auto;
    position: relative;
    left: 0px;
    top: 0px;
    margin: 0px auto;
}

section#cabinet_box {
    width:100%;
    height:auto;
    margin: 0px auto;
    margin-bottom: 140px;
}

.section_title {
    width: 100%;
    height: 50px;
    font: bold 32px/50px "Noto Sans KR";
    text-indent: 30px;
    margin-bottom: 20px;
}

ul#cabinet_inner {
    width: 100%;
    height: 100%;
    border-top: solid 1px #ff9900;
    background: #fffcf7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content:space-around;
    padding-top:20px;
    box-sizing:border-box;
}

ul#cabinet_inner>li {
    width: 200px;
}

ul#cabinet_inner img {
    width: 100%;
    display: block;
}

/* ul#cabinet_inner>li:first-child{
    width:210px;
    margin-right:430px;
} */



/* article#rank_box {
    width:300px;
    height:330px;
    float:left;
    margin-top:70px;
}

article#rank_box>h3 {
    width:300px;
    height: 50px;
    font: normal 20px/50px "Noto Sans KR";
    text-align: center;
    line-height: 50px;
    background: #ff9900;
}

ul#rank_box_inner {
    width: 100%;
    height: 100%;
    border: solid 20px #ff9900;
    box-sizing: border-box;
}

ul#rank_box_inner>li {
    font: normal 12px "Noto Sans KR";
    line-height: 26px;
    text-indent: 20px;
} */

/* div#publisher_box {
    width: 1400px;
    height: auto;
}

ul#section_bottom {
    width: 100%;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 80px;
    background: #fffcf7;
} */

.contents_title {
    width: 800px;
    height: 50px;
    font: bold 32px/50px "Noto Sans KR";
    text-indent: 30px;
    margin-bottom: 40px;
}

ul#contents_inner {
    width: 800px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font: normal 20px/50px "Noto san KR";
    margin-bottom: 10px;
}

ul#genre_list {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background: #fffcf7;
    margin-bottom: 80px;
    padding-top: 20px;
    box-sizing: border-box;
    border-top: solid 1px #ff9900;
}

section#cabinet_store {
    width: 1400px;
    min-height:900px;
    margin: 0px auto;
}

div#connect_space {
    width: 680px;
    height: 550px;
    float: left;
    margin-left: 40px;
}

ul#connect_list {
    width: 100%;
    height: 50px;
}

ul#connect_list>li {
    width: 100px;
    height: 100%;
    font: normal 14px/50px "Noto Sans KR";
    text-align: center;
    float: left;
    background: #ffffff;
}

ul#connect_buy {
    width: 610px;
    height: 510px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    background: #ffffff;
    border-top: solid 1px #ff9900;
    border-bottom: solid 1px #ff9900;
}

ul#connect_buy>li {
    width: 100%;
    height: 100px;
    padding-top: 20px;
    box-sizing: border-box;
    border-bottom: dotted 2px #e7e7e7;
}

ul#connect_buy>li:last-child {
    border-bottom: none;
}

p.user_img {
    width: 80px;
    height: 60px;
    float: left;
    margin-right: 20px;
}

p.user_title,
p.user_date,
p.user_price {
    text-align: left;
}

p.user_title {
    width: 400px;
    height: 40px;
    float: left;
    font: normal 16px "Noto Sans KR";
}

p.user_date {
    width: 360px;
    height: 20px;
    float: left;
    font: normal 12px "Noto Sans KR";
}

p.user_price {
    float: left;
    font: normal 16px "Noto Sans KR";
}

div#connect_box {
    width: 680px;
    height: 510px;
    background: #ffffff;
    float: left;
}

div#connect_box>p {
    width: 100%;
    height: 50px;
    font: normal 16px/50px "Noto Sans KR";
    text-align: center;
    color:white;
    letter-spacing:6px;
    background:#ff9900;
}

ul#connect_img {
    width: 100%;
    height: 100%;
    border-top: solid 1px #ff9900;
    border-bottom: solid 1px #ff9900;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

ul#connect_img>li>p {
    font: normal 16px/30px "Noto Sans KR";
    text-align: center;
}

@media screen and (max-width:1400px) {
    section.section_wrap{
        width:1400px;
    }
}

@media screen and (max-width:980px) {
    section.section_wrap{
        width:780px;
    }
    ul#cabinet_inner>li, ul#genre_list>li{
        margin:20px auto;
    }
    section#cabinet_store{
        width:700px;
        min-height:1550px;
    }
    div#connect_space{
        margin-bottom:100px;
    }
}