div.container_wrap {
  width: 100%;
  height: auto;
  position: relative;
  left: 0px;
  top: 210px;
}

section#inner_part {
  width: 1400px;
  min-height: 5500px;
  margin: 0px auto;
  position: relative;
  left: 0px;
  top: 0px;
}

ul#inner_part_list {
  width: 600px;
  height: 30px;
  margin: 100px 0px 10px 20px;
  box-sizing: border-box;
}

ul#inner_part_list>li {
  width: 120px;
  height: 100%;
  font: bold 12px "Noto Sans KR";
  line-height: 30px;
  text-align: center;
  float: left;
}

section#look_book {
  width: 100%;
  height: auto;
  position: relative;
  left: 0px;
  top: 0px;
}

div#book_detail {
  width: 950px;
  height: 550px;
  float: left;
  margin-bottom: 120px;
}

div#look_img {
  width: 420px;
  height: 100%;
  padding-left: 80px;
  padding-top: 50px;
  box-sizing: border-box;
  float: left;
}

div#look_img>img {
  display: block;
}

div#look_center {
  width: 400px;
  height: 100%;
  float: left;
  padding-top: 60px;
  box-sizing: border-box;
}

p#look_intro {
  width: 350px;
  font: bold 20px "Noto Sans KR";
  text-align: justify;
  margin-bottom: 40px;
}

ul#intro_inner {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  float: left;
}

ul#intro_inner>li {
  width: 50%;
  font: bold 14px "Noto Sans KR";
  text-indent: 10px;
  letter-spacing: -1px;
  float: left;
}

p#book_review {
  width: 100%;
  height: 200px;
  font: normal 14px "Noto Sans KR";
  text-align: justify;
  letter-spacing: -1px;
  overflow: hidden;
}

div#look_price {
  width: 400px;
  height: auto;
  float: left;
  padding-left: 50px;
  padding-top: 50px;
  box-sizing: border-box;
  background: #ff9900;
  position: sticky;
  top: 0px;
}

dl#look_info {
  width: 100%;
  height: 100%;
}

dt#look_title {
  width: 100%;
  font: bold 28px "Noto Sans KR";
  margin-bottom: 20px;
  color: white;
}

dd#look_kind {
  width: 100%;
  font: bold 14px "Noto Sans KR";
  text-indent: 10px;
  margin-bottom: 30px;
}

dd#look_text {
  width: 80%;
  font: normal 14px "Noto Sans KR";
  letter-spacing: -1px;
  text-align: justify;
  margin-bottom: 20px;
}

dd#look_cost {
  width: 100%;
  height: 50px;
  font: normal 24px "Noto Sans KR";
  line-height: 50px;
  float: left;
  margin-bottom:20px;
}

span.nego {
  width: 150px;
  height: 50px;
  font: bold 20px "Noto Sans KR";
  line-height: 50px;
  text-indent: 10px;
  text-align: center;
  background: #4557C5;
  position: absolute;
  right: 20px;
  bottom: 20px;
}


section#keyword {
  width: 850px;
  height: 400px;
  float: left;
}

h3#keyword_text {
  width: 100%;
  height: 50px;
  font: bold 24px "Noto Sans KR";
  line-height: 50px;
  text-indent: 20px;
  margin-bottom: 30px;
}

ul#keword_inner {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
}

ul#keword_inner>li img {
  width: 160px;
  border-radius: 20px;
  display: block;
}

section#book_info {
  width: 814px;
  height: auto;
  margin-left: 50px;
  margin-top: 100px;
  box-sizing: border-box;
  border-radius: 50px;
  overflow: hidden;
}

section#book_info>img {
  width: 100%;
  display: block;
}

@media screen and (max-width:980px) {

  section#inner_part{
    width:100%;
    min-height:5800px;
  }
  
  div#look_price{
    width:100%;
    /* position:relative; */
  }
  span.nego{
    left:250px;
    bottom:20px;
  }
}